* {
    margin: 0%;
    padding: 0%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Top Header  */
.top-header {
    background-color: #0A4DDB;
    color: white;
    padding: 20px;
    padding-left: 60px;
    display: flex;  
    font-size: 25px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #f7f8fa;;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    padding-left: 60px;
    display: flex;  
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-menu ul li  :hover{
    text-decoration: none;
    padding :10px;
    border-radius: 20px;
    color: #0A4DDB;
  
  }
  
  /* Nav bagian Menu */
  .nav-menu ul li a {
    text-decoration: none;
    padding: 10px;
    color: #0A4DDB;
    
  }
  
  li{
    list-style-type:none ;
  }
  
  .nav-register-login ul {
    display: flex;
    flex-direction: row;
  }
  
  /* Transisi Button */
  .nav-register-login ul li :hover {
    margin: 10px;
    text-decoration: none;
    background-color:#0A4DDB;;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 2px solid;
    cursor: pointer;
    transition: all 2s;
    border: none;
  }
  
  .nav-register-login ul li a {
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    color:#0A4DDB;
  }

 /* Content Utama */
 body{
    background-color: #dee2e9;
 }

 /* Kotak content utama */
 .content-row {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content:left;
  background-color: white;
  /* margin: 20px; */
  padding: 30px;
  border-radius: 10px; 
  font-family: "Poppins", sans-serif;
  color: #167275;
  font-size: 20px;
  height: 340px;
}

.content-row .main-kiri #id {
  border-radius: 4px;
  width: 170px;
  height: 5px;
  padding: 10px;
  margin-bottom: 20px; 
  padding-right: 60px;
}

.content-row .main-kiri #nama {
  border-radius: 4px;
  width: 200px;
  height: 5px;
  padding: 10px;
  margin-bottom: 20px; 
  padding-right: 28px;
}

.content-row .main-kiri #jk {
  border-radius: 4px;
  width: 200px;
  height: 5px;
  padding: 10px;
  margin-bottom: 50px; 
  padding-right: 60px;
}

.content-row .main-kiri select {
  border-radius: 4px;
  width: 235px;
  height: 33px;
  padding: 5px;
  padding-right: 60px;
  margin-left: 30px;
  border: 2px solid ;
  margin-bottom: 20px; 
  margin-top: 20px;
}

.content-row .main-kiri #alamat {
  border-radius: 4px;
  width: 225px;
  height: 100px;
  padding: 5px;
  margin-left: 30px;
  border: 2px solid ;
}

.content-row .main-kanan-1 {
  margin-left: 100px;
  margin-right: 40px; 
  
}

.content-row .main-kanan-2 form{
  margin-right: 40px; 
  
}

/* Button Daftar  */
.content-row .main-kiri #daftar {
  background-color: #3579B8;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: none;
  border: none;
  font-size: 15px;
  margin-left: 130px;
  margin-right: 10px;
  margin-top: 10px;
}

.content-row .main-kiri #daftar:hover {
  background-color: white;
  color: #3579B8;
  border: 1px solid ;
  cursor: pointer;
  transition: all 2s;
}

/* Button Batal  */
.content-row .main-kiri #batal{
  background-color: rgb(218, 18, 18);
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: none;
  border: none;
  font-size: 15px;
  margin-top: 10px;
}

.content-row .main-kiri #batal:hover {
  background-color: white;
  color: red;
  border: 1px solid ;
  cursor: pointer;
  transition: all 2s;
}

/* Footer */
footer {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-weight: bold;
  font-style: normal;
  background-color: white;
  color: #167275;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;   
}


